appdirs==1.4.4
async-timeout==3.0.1
asynco==0.0.5
attrs==20.2.0
certifi==2019.9.11
chardet==3.0.4
conda==4.3.16
distlib==0.3.1
filelock==3.0.12
gevent==20.6.2
greenlet==0.4.16
grequests==0.6.0
idna==2.10
multidict==4.7.6
pipenv==2018.11.26
pycosat==0.6.3
requests==2.24.0
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
six==1.15.0
tqdm==4.48.2
urllib3==1.25.10
virtualenv==16.7.7
virtualenv-clone==0.5.3
yarl==1.5.1
zope.event==4.4
zope.interface==5.1.0
